:root {
    --primary: #003366;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 330vh;
    background: linear-gradient(to bottom, #003366, rgb(20, 19, 19))
}

body::-webkit-scrollbar {
    display: none;
}

/* ========================================================================================================== */
/* ------------------HEADER------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 50px;
    background-color: var(--primary);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    position: relative;
}


a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 300;
}

nav a:hover {
    color: black;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 25%;

}

.logo-container a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 80px;
    height: 60px;
}

.logo-container h1 {
    font-size: 2.2rem;
    font-weight: 800;
    -webkit-text-stroke: 1.4px #000000;
}

.logo-container span {
    color: #80c0ff;
}

.btn-login {
    padding: 12px 24px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    border-radius:8px;
    transition: .3s;
    z-index: 1;
}

.btn-login::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: royalblue;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-login:hover::before {
    width: 105%;
}

.btn-login:hover {
    color: #000000;
}

.btn-regis {
    padding: 12px 24px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    border-radius:8px;
    transition: .3s;
    z-index: 1;
}

.btn-regis::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    background: royalblue;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-regis:hover::before {
    width: 105%;
}

.btn-regis:hover {
    color: #000000;
}

.garis-vertical {
    width: 3px;
    height: 3rem;
    background-color: black;
}

.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
    width: 25%;

}

/* ------------------HEADER------------------------- */
/* ------------------BERANDA------------------------- */
.bg-gambar {
    opacity: 0.25;
    width: 100%;
    background-size: cover;
}

.beranda {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
    background-blend-mode: soft-light;
    background: linear-gradient(to bottom, #003366, black), url("../assets/backgorund_beranda.jpg");
    background-size: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    /* Tambahkan bayangan */
}

.teks-beranda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    gap: 10rem;
}

.teks-beranda h1 {
    width: 23ch;
    animation: typing 2.5s steps(1000), blink .2s step-end 13 alternate-reverse;
    white-space: nowrap;
    overflow: hidden;
    border-color: transparent;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 23ch;
    }
}

@keyframes blink {
    50% {
        border-right: 2px solid black;

    }
}

.btn-jelajahi {
    display: flex;
    /* Supaya width bisa berfungsi dengan margin auto */
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    width: 16rem;
    /* Atur lebar tombol */
    height: 4rem;
    max-width: 300px;
    /* Batasi lebar maksimal */
    border-radius: 11px;
    cursor: pointer;
    margin: 20px auto;
    /* Pusatkan tombol */
    background-color: rgba(0, 51, 102, 0.5);
    transition: background .3s;
}

.btn-jelajahi:hover {
    background-color: rgba(9, 116, 223, 0.7);
    transition: ease-out .3s;
}

/* ------------------BERANDA------------------------- */
/* --------------------------------------------SECTION SKILL-HOME------------------------------------------------- */
.skill-home {
    min-height: 100vh;
}

.teks-kategori {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    font-size: 5rem;
    font-weight: 600;
    width: max-content;
    margin-top: 50px;
    margin-left: 50px;
}

.scroll-1::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #000000;
}

.container {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    margin-top: 10px;
    padding: 24px;
    width: 100%;
    height: 70vh;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 24px;
    border-radius: 8px;
    gap: 50px;
}

.card {
    flex: 0 0 20%;
    overflow: hidden;
    border-radius: 8px;
    scroll-snap-align: start;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
    position: relative; 
}

.card a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute; /* Agar <a> mencakup seluruh kartu */
    top: 0;
    left: 0;
    z-index: 2;
}

.card__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.card__content a {
    display: block; /* Agar seluruh area gambar bisa diklik */
}

.card__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card:hover img {
    opacity: 0.7;
    background-color: royalblue;
    transition: opacity 0.3s ease-in-out;
}

/* --------------------------------------------SECTION SKILL-HOME------------------------------------------------- */

/* --------------------------------------------SECTION FAVORIT------------------------------------------------- */
.favorit {
    min-height: 100vh;
}

.teks-favorit {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    font-size: 5rem;
    font-weight: 600;
    width: max-content;
    margin-left: auto;
    margin-right: 50px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 kolom */
    gap: 30px;
    max-width: 90%;
    /* Batasi lebar agar ada margin kiri-kanan */
    margin: 0 auto;
}

.favorit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    height: 40vh;
    font-size: 1.5rem;
    font-weight: bold;
}

.favorit-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* --------------------------------------------SECTION FAVORIT END------------------------------------------------- */


/* --------------------------------------------FOOTER---------------------------------------------------------------- */
footer {
    height: 20vh;
    margin-top: 10vh;
    background-color: #222;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-section {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
}

.footer-section h1 {
    margin-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 200px;
}